@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital@0;1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

hr {
  color: rgb(243, 209, 191);
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #28293e;
  color: white;
  font-family: "Segoe UI";
}
header .container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}
header .container .nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
header .container .nav .nav-main ul {
  display: flex;
  gap: 20px;
}
header .container .nav .nav-main ul li {
  padding: 0 20px;
}
header .container .nav .nav-main ul li:hover {
  color: #3f4061;
}
header .container .nav button {
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #28293e;
  color: white;
  cursor: pointer;
  opacity: 0.9;
}
header .container .nav button:hover {
  background-color: #3b3e5b;
}
header .container .nav .hamburger {
  display: none;
  padding: 10px;
  text-align: end;
  font-size: 30px;
  opacity: 0.5;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}
header .header-main {
  text-align: center;
  padding: 30px 0 100px 0;
}
header .header-main div h1 {
  font-size: 60px;
}
header .header-main div p {
  font-weight: 400;
  padding: 20px;
}

@media screen and (max-width: 1024px) {
  header .container .nav .hamburger {
    display: block;
  }
  header .container .nav .nav-main ul li {
    display: none;
  }
  header .container .nav button {
    display: none;
  }
}
body {
  background-color: #fdf0e9;
}
body main {
  max-width: 100%;
  color: #28293e;
  font-family: "Segoe UI";
}
body main .img .container div img {
  padding: 100px 0 0 0;
}
body main .prefessional .container .prefessional-container .prefessional-main {
  width: 570px;
  margin: 0 auto;
  padding: 50px;
}
body main .prefessional .container .prefessional-container .prefessional-main div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body main .prefessional .container .prefessional-container .prefessional-main div p {
  opacity: 0.5;
}
body main .prefessional .container .prefessional-container .prefessional-main div h1 {
  font-size: 40px;
  padding: 10px 0 40px 0;
}
body main .prefessional-icon-box .container .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
body main .prefessional-icon-box .container .icon-container .icon-1,
body main .prefessional-icon-box .container .icon-container .icon-2 {
  width: 50%;
  font-size: 30px;
  font-family: "Epilogue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid #f3d1bf;
  padding: 10px;
}
body main .prefessional-icon-box .container .icon-container .icon-1 .icon-1-main,
body main .prefessional-icon-box .container .icon-container .icon-1 .icon-2-main,
body main .prefessional-icon-box .container .icon-container .icon-2 .icon-1-main,
body main .prefessional-icon-box .container .icon-container .icon-2 .icon-2-main {
  font-size: 48px;
  background-color: #ef6c57;
  padding: 25px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
body main .prefessional-icon-box .container .icon-container .icon-1 .icon-1-main i,
body main .prefessional-icon-box .container .icon-container .icon-1 .icon-2-main i,
body main .prefessional-icon-box .container .icon-container .icon-2 .icon-1-main i,
body main .prefessional-icon-box .container .icon-container .icon-2 .icon-2-main i {
  color: #fff;
}
body main .prefessional-icon-box .container .icon-container .icon-1 .icon-1-text h1,
body main .prefessional-icon-box .container .icon-container .icon-1 .icon-2-text h1,
body main .prefessional-icon-box .container .icon-container .icon-2 .icon-1-text h1,
body main .prefessional-icon-box .container .icon-container .icon-2 .icon-2-text h1 {
  font-weight: 800;
  line-height: 50px;
}
body main .prefessional-icon-box .container .icon-container .icon-1 .icon-1-text p,
body main .prefessional-icon-box .container .icon-container .icon-1 .icon-2-text p,
body main .prefessional-icon-box .container .icon-container .icon-2 .icon-1-text p,
body main .prefessional-icon-box .container .icon-container .icon-2 .icon-2-text p {
  font-size: 25px;
}
body main #video-rell .container .vrContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 570px;
  margin: 0 auto;
  gap: 20px;
}
body main #video-rell .container .vrContainer h5 {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
  color: rgba(239, 109, 88, 0.5);
}
body main #video-rell .container .vrContainer h1 {
  font-family: "Epilogue", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}
body main #video-rell .container .vrContainer .mainImg {
  background-image: url("../img/Bitmap.svg");
  background-repeat: no-repeat;
  min-width: 570px;
  min-height: 368px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
body main #video-rell .container .vrContainer .mainImg img {
  margin: 70px;
}
body main #video-rell .container .vrContainer .mainImg p {
  align-self: flex-start;
  margin: 0 30px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 5px;
}
body main #video-rell .container .vrContainer .bottomTxt {
  max-width: 570px;
  margin-top: 25px;
  padding: 10px 0 80px 0;
}
body main #video-rell .container .vrContainer .bottomTxt .first-child {
  margin-bottom: 35px;
}
body main #founderwrds {
  padding: 100px 0;
}
body main #founderwrds .container .founderMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 570px;
  margin: 0 auto;
}
body main #founderwrds .container .founderMain p {
  color: rgb(239, 109, 88);
}
body main #founderwrds .container .founderMain h3 {
  font-size: 40px;
  font-weight: 800;
}
body main #founderwrds .container .founderMain div .firstP {
  font-weight: 400;
  font-size: 20px;
  color: rgb(57, 20, 0);
}
body main #founderwrds .container .founderMain div .secondP {
  font-weight: 400;
  font-size: 14px;
  color: rgba(57, 20, 0, 0.64);
  margin-bottom: 120px;
}
body main #firms .container .firmsMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 0;
}
body main #firms .container .firmsMain img {
  padding: 10px;
}
body main #firms .lastPart {
  background-color: #f9e5da;
  padding: 80px 0;
}
body main #firms .lastPart .container .getStarted {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
body main #firms .lastPart .container .getStarted .contactSide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
body main #firms .lastPart .container .getStarted .contactSide .star {
  background-image: url("../img/Star.svg");
  background-repeat: no-repeat;
  height: 148px;
  width: 148px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #fff;
  position: absolute;
  top: -150px;
}
body main #firms .lastPart .container .getStarted .contactSide h5 {
  color: rgba(239, 109, 88, 0.8);
  font-weight: 400;
  font-size: 16px;
}
body main #firms .lastPart .container .getStarted .contactSide h4 {
  font-size: 24px;
  font-weight: 700;
  color: #391400;
  max-width: 217px;
}
body main #firms .lastPart .container .getStarted .contactSide button {
  width: 154px;
  height: 48px;
  background-color: #ef6c57;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}
body main #firms .lastPart .container .getStarted .sun {
  max-height: 220px;
}
body main #firms .lastPart .container .getStarted .sun img {
  width: 100 body main #firms .lastPart .container .getStarted .sun img;
}
body main #firms .lastPart .container .getStarted p {
  max-width: 370px;
}

@media screen and (max-width: 1024px) {
  main .img .container div {
    display: flex;
    flex-direction: column;
  }
  main .img .container div img {
    max-width: 480px;
    margin: 0 auto;
  }
  .prefessional-icon-box .container .icon-container {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }
  main #firms .lastPart .container .getStarted {
    flex-direction: column;
    gap: 20px;
  }
  body main #firms .lastPart .container .getStarted {
    flex-direction: column;
    align-items: flex-start;
  }
}
body {
  background-color: #fdf0e9;
}
body main {
  max-width: 100%;
  color: #28293e;
  font-family: "Epilogue", sans-serif;
}
body main #digitalAgency .container .digitalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
body main #digitalAgency .container .digitalContainer .digitalLeft h5 {
  font-weight: 400;
  font-size: 16px;
  color: rgb(239, 109, 88);
  padding: 30px 0;
}
body main #digitalAgency .container .digitalContainer .digitalLeft h3 {
  font-weight: 800;
  font-size: 40px;
}
body main #design .container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: baseline;
}
body main #design .container .designIcon {
  display: flex;
  gap: 20px;
  align-items: baseline;
}
body main #design .container .designIcon .designIconMain {
  width: 80px;
  height: 80px;
  border: none;
  background-color: rgb(239, 108, 87);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #design .container .designIcon .designIconMain .tv {
  color: #fff;
  font-size: 32px;
}
body main #design .container .designIcon h2 {
  font-size: 50px;
  font-weight: 800;
}
body main #design .container .upSign {
  width: 32px;
  height: 32px;
  border: none;
  background-color: rgb(239, 108, 87);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #design .container .upSign .up {
  color: #fff;
  font-size: 11.6px;
}
body main #businessCheck .container .businessBox {
  display: flex;
  flex-direction: column;
}
body main #businessCheck .container .businessBox .agencyContainer {
  max-width: 570px;
  min-height: 147px;
  align-self: flex-end;
}
body main #businessCheck .container .businessBox .agencyContainer h3 {
  font-weight: 800;
  font-size: 40px;
  padding: 70px 0 30px 0;
}
body main #businessCheck .container .businessBox .agencyContainer p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(57, 20, 0, 0.64);
  padding: 0 0 30px 0;
}
body main #businessCheck .container .businessBox .agencyContainer .businessIcons {
  display: flex;
  gap: 20px;
  align-items: baseline;
  padding: 10px;
}
body main #businessCheck .container .businessBox .agencyContainer .businessIcons span:hover {
  color: rgba(138, 73, 35, 0.5);
  cursor: pointer;
}
body main #businessCheck .container .businessBox .agencyContainer .businessIcons .businessIconMain {
  width: 32px;
  height: 32px;
  border: none;
  background-color: rgb(239, 108, 87);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
body main #businessCheck .container .businessBox .agencyContainer .businessIcons .businessIconMain .check {
  color: #fff;
  font-size: 18px;
}
body main #Development .container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: baseline;
}
body main #Development .container .developmentIcons {
  display: flex;
  gap: 20px;
  align-items: baseline;
}
body main #Development .container .developmentIcons .developmentIconMain {
  width: 80px;
  height: 80px;
  border: none;
  background-color: rgb(239, 108, 87);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #Development .container .developmentIcons .developmentIconMain .bag {
  color: #fff;
  font-size: 32px;
}
body main #Development .container .developmentIcons h2 {
  font-size: 50px;
  font-weight: 800;
}
body main #Development .container .upSign {
  width: 32px;
  height: 32px;
  border: none;
  background-color: rgb(239, 108, 87);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #Development .container .upSign .up {
  color: #fff;
  font-size: 11.6px;
}
body main #Marketing .container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: baseline;
}
body main #Marketing .container .marketingIcons {
  display: flex;
  gap: 20px;
  align-items: baseline;
}
body main #Marketing .container .marketingIcons .marketingIconMain {
  width: 80px;
  height: 80px;
  border: none;
  background-color: rgb(239, 108, 87);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #Marketing .container .marketingIcons .marketingIconMain .set {
  color: #fff;
  font-size: 32px;
}
body main #Marketing .container .marketingIcons h2 {
  font-size: 50px;
  font-weight: 800;
}
body main #Marketing .container .upSign {
  width: 32px;
  height: 32px;
  border: none;
  background-color: rgb(239, 108, 87);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #Marketing .container .upSign .up {
  color: #fff;
  font-size: 11.6px;
}
body main #howWework .container .workContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
body main #howWework .container .workContainer .workContainerMain {
  align-self: flex-start;
  max-width: 448px;
}
body main #howWework .container .workContainer .workContainerMain h5 {
  font-weight: 400;
  font-size: 16px;
  color: rgb(239, 109, 88);
  padding-bottom: 20px;
}
body main #howWework .container .workContainer .workContainerMain h3 {
  font-weight: 800;
  font-size: 40px;
  color: rgb(57, 20, 0);
  padding-bottom: 40px;
}
body main #howWework .container .workContainer .workContainerMain p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
}
body main #howWework .container .workContainer .workLines {
  padding: 40px 0;
}
body main #howWework .container .workContainer .workLines .workLinesMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
body main #howWework .container .workContainer .workLines .workLinesMain h1 {
  font-weight: 800;
  font-size: 72px;
  color: rgb(57, 20, 0);
  padding: 20px 0 10px 0;
}
body main #howWework .container .workContainer .workLines .workLinesMain h4 {
  font-weight: 700;
  font-size: 24px;
  color: rgb(57, 20, 0);
}
body main #dreamProject {
  padding: 20px;
}
body main #dreamProject .container .dreamBox {
  background-color: rgb(239, 109, 88);
  max-width: 1170px;
  min-height: 544px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  border-radius: 5px;
}
body main #dreamProject .container .dreamBox .dreamMain {
  max-width: 368px;
  align-self: flex-start;
}
body main #dreamProject .container .dreamBox .dreamMain h2 {
  font-size: 56px;
  font-weight: 800;
  color: rgb(255, 255, 255);
  padding: 80px 0 20px 0;
}
body main #dreamProject .container .dreamBox .dreamMain p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.64);
  padding: 0 0 20px 0;
}
body main #dreamProject .container .dreamBox .dreamMain button {
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background-color: #fff;
}
body main #dreamProject .container .dreamBox .dreamMain button:hover {
  background-color: #28293e;
  color: #fff;
}
body main #dreamProject .container .dreamBox .dreamPic {
  max-width: 444px;
  max-height: 432px;
}

@media screen and (max-width: 1024px) {
  main #digitalAgency .container .digitalContainer {
    flex-direction: column;
  }
  main #howWework .container .workContainer {
    flex-direction: column;
  }
  main #dreamProject .container .dreamBox {
    flex-direction: column-reverse;
  }
  main #dreamProject .container .dreamBox .dreamMain {
    padding-bottom: 30px;
  }
}
main #portfolios .container .portfolioMain .start {
  text-align: center;
}
main #portfolios .container .portfolioMain .start ul {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
}
main #portfolios .container .portfolioMain .start ul li {
  cursor: pointer;
}
main #portfolios .container .portfolioMain .start ul li:hover {
  color: rgba(57, 20, 0, 0.5);
}
main #portfolios .container .portfolioMain .start .select {
  padding: 40px;
}
main #portfolios .container .portfolioMain .start .select select {
  padding: 10px 80px;
  display: none;
  color: rgba(57, 20, 0, 0.64);
}
main #portfolios .container .portfolioMain .boxSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: #fff;
  font-size: 45px;
  font-weight: 800;
}
main #portfolios .container .portfolioMain .boxSection button {
  width: 102px;
  height: 38px;
  border-radius: 20px;
  border: none;
  margin-bottom: 15px;
  background: #fff;
  color: rgb(57, 20, 0);
}
main #portfolios .container .portfolioMain .boxSection button:hover {
  background-color: rgba(57, 20, 0, 0.5);
  color: #fff;
}
main #portfolios .container .portfolioMain .boxSection .box1 {
  background-image: url("../img/pic1.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}
main #portfolios .container .portfolioMain .boxSection .aboveBox {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #portfolios .container .portfolioMain .boxSection .aboveBox .firstBox {
  padding: 10px 0;
  gap: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #portfolios .container .portfolioMain .boxSection .aboveBox .firstBox .box2 {
  border-radius: 5px;
  background-image: url("../img/pic2.png");
  width: 100%;
  height: 416px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}
main #portfolios .container .portfolioMain .boxSection .aboveBox .firstBox .box3 {
  border-radius: 5px;
  background-image: url("../img/pic3.png");
  width: 100%;
  height: 416px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}
main #portfolios .container .portfolioMain .boxSection .aboveBox .secondBox {
  gap: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #portfolios .container .portfolioMain .boxSection .aboveBox .secondBox .box4 {
  border-radius: 5px;
  background-image: url("../img/pic4.png");
  width: 100%;
  height: 416px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}
main #portfolios .container .portfolioMain .boxSection .aboveBox .secondBox .box5 {
  border-radius: 5px;
  background-image: url("../img/pic5.png");
  width: 100%;
  height: 416px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}
main #portfolios .container .portfolioMain .pages {
  text-align: center;
}
main #portfolios .container .portfolioMain .pages ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}
main #portfolios .container .portfolioMain .pages ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  width: 48px;
  height: 48px;
  background-color: #fff;
  color: rgb(57, 20, 0);
}
main #portfolios .container .portfolioMain .pages ul li:hover {
  background-color: rgb(239, 109, 88);
  color: #fff;
}

@media screen and (max-width: 1024px) {
  main #portfolios .container .portfolioMain .start ul {
    display: none;
  }
  main #portfolios .container .portfolioMain .start .select select {
    display: block;
  }
  main #portfolios .container .portfolioMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  main #portfolios .container .portfolioMain .firstBox {
    flex-direction: column;
    width: 329px;
  }
  main #portfolios .container .portfolioMain .secondBox {
    flex-direction: column;
    width: 329px;
  }
  main #portfolios .container .portfolioMain .box1 {
    max-height: 416px;
  }
}
#footer {
  color: #28293e;
}
#footer .container .footerMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
#footer .container .footerMain .personal {
  align-self: flex-start;
  font-size: 24px;
}
#footer .container .footerMain .menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#footer .container .footerMain .menu h5 {
  font-size: 16px;
  color: #ef6d58;
}
#footer .container .footerMain .menu ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  cursor: pointer;
}
#footer .container .footerMain .menu ul li:hover {
  color: #ef6d58;
}
#footer .container .footerMain .socialMedia {
  background-image: url("../img/social.svg");
  width: 160px;
  height: 48px;
  align-self: flex-start;
}
#footer .container .footerEnd {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  color: #28293e;
}
#footer .container .footerEnd .endMain ul {
  display: flex;
  gap: 60px;
}

.aboutFooter {
  background-color: #28293e;
  color: #fff !important;
}
.aboutFooter .footerEnd {
  color: #fff !important;
}

@media screen and (max-width: 1024px) {
  footer .container .footerMain {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  footer .container .footerMain div {
    margin: 0 auto;
  }
  footer .container .footerEnd {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}