* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
hr {
  color: rgba(243, 209, 191, 1);
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
